<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <p>我的博文</p>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="container-fluid", align="center">

<h1>游记</h1>
<h1>记录美好生活</h1>


<h2>分享、记录、回忆旅行与生活的博客</h2>

<%= link_to "注册", signup_path, class: "btn btn-lg btn-primary" %>
</body>
</div>

<% end %>