<%= link_to gravatar_for(current_user, size: 50), current_user %>
<p><%= current_user.name %></p>
<p><%= link_to "查看我的资料", current_user %></p>
<%# <span><%= pluralize(current_user.microposts.count, "篇博文") %>